<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/multimedia/icons/faviconGoogle.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/retoGoogle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Google</title>
</head>
<body>
<header class="navBar">
    <ul class="navBar__list">
        <li class="navBar__item navBar__item--txt">
            <p>Gmail</p>
        </li>
        <li class="navBar__item navBar__item--txt">
            <p>Images</p>
        </li>
        <li class="navBar__item">
            <img src="" alt="">
        </li>
        <li class="navBar__item ">
            <img class="navbar__img navBar__img--login" src="/assets/multimedia/icons/unnamed.png" alt="">
        </li>
    </ul>
</header>
    <section class="Google">
        <div class="Google__imgContainer">
            <img class="Gooogle__img" src="../assets/multimedia/icons/googlelogo_color_272x92dp.png" alt="">
        </div>
        <div class="container">
            <div class="Google__inputContainer">
                <div class="Google_inputIcon">
                    <img class="Google__inputImg" src="../assets/multimedia/icons/find.svg" alt="busqueda">
                </div>
                <div class="Google__input">
                    <input type="search" id="search" name="search">
                </div>
                <div class="Google__inputMicro">
                    <img class="Google__inputImg" src="../assets/multimedia/icons/microfonoGoogle.jpeg" alt="">
                </div>
                <div class="Google__inputCam Google__inputCam--mg">
                    <img class="Google__inputImg" src="../assets/multimedia/icons/camaraGoogle.svg" alt="">
                </div>
            </div>
        </div>
        <div class="Btn__container">
            <button class="btn">
                Google Search
            </button>
            <button class="btn">
                i´m Feeling Lucky
            </button>
        </div>
        <div class="txt__container">
            <p class="txt">
                Google offered in: 
                <a class="txt_link" href="">
                Español (Latinoamérica)
                </a>  
            </p>
        </div>
    </section>
    <footer>
        <div class="footer1">
            <p>Argentina</p>
        </div>
        <div class="footer2">
            <ul class="footer2__list">
                <li class="footer2__item">
                    About
                </li>
                <li class="footer2__item">
                    Advertising
                </li>
                <li class="footer2__item">
                    Business
                </li>
                <li class="footer2__item">
                    How Serach works
                </li>
            </ul>
            <ul class="footer2__list">
                <li class="footer2__item">
                    Privacy 
                </li>
                <li class="footer2__item">
                    Terms
                </li>
                <li class="footer2__item">
                    Settings
                </li> 
            </ul>
        </div>
    </footer>

</body>
</html>