.NavBar__container{
    width: 100%;
    height: 2em;
   background-color: rgb(230, 227, 227);
    
}    
    
   

.navBar__list{
    width: 100%;
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
    
}


.navBar__img{
    width: 1em;
    
}

.navBar__img--login{
    margin-right: 0.5em;
    border: solid 2px #212121;
    border-radius: 1em;
   
}

.SegundaPantalla{
    display: none;
}
.TerceraPantalla{
    display: none;
}
