*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navBar{
    width: 98%; 
    margin-top: 1em;
    font-size: 15px;
    
}
.navBar__list{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.navBar__item{
    text-decoration: none;
    margin-left: 1em;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    color: #3c4043
}
.navBar__item:hover{
    text-decoration: underline;
    
}
.navBar__item--txt{
    margin-top: 0.5em;
}
.navBar__img--login{
    border-radius: 5em;
}
.Google{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;

}
.Google__inputContainer{
    width: 30%;
    padding: 0.4em ;
    display: flex;
    border: 0.5px solid #dfe1e5;
    border-radius: 2em;
    margin-top: 1em;
    flex-direction: row;
    justify-content: center;
    
    
}
.Google__inputContauiner:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}
.Google__imgContainer{
    display: flex;
    justify-content: center;
    margin-top: 9em;
}
.Google__inputMicro{
    margin-left: 45%;
    
}

.Google__inputImg{
    width: 1em;
    
}
.Google__inputCam--mg{
    margin-left: 1em;
}
.Google__input input[type="search"]{
    width: 150%;
    border: none;
}

.Google__input input[type="search"]:focus{
    border: none;
    outline: none;
}


.Btn__container{
    display: flex;
    width: 100%;
   justify-content: center;
    margin-top: 1.5em;
}
.btn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.btn:hover{
    border: 0.8px solid #dfe1e5;
    box-shadow: 0px 1px 0px 0px rgb(0, 0, 0, 0.1);
    
}

.txt__container{
width: 100%;
display: flex;
justify-content: center;
margin-top: 1.3em;
font-size: 15px;
color: #4d5156
}
.txt_link{
    text-decoration: none;
}
footer{
    width: 100%;
    background-color: #f2f2f2;
    margin-top: auto;
  
}
.footer1{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}
.footer2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #4d5156;
    padding: 15px 30px;
}
.footer2__list{
    list-style: none;
    display: flex;
}
.footer2__item{
    text-decoration: none;
    margin-left: 0.8em;
}